<footer class="footer-container">
        <div class="left-content">
            <div class="img-container">
                <a href="#home"><img src="assets/img/logo_ab_white.png" class="logo"></a>
                <a href="https://www.xing.com/profile/Alexander_Bachmann24" target="_blank"><img src="assets/img/xing.png" class="xing-logo"></a>
            </div>
            <div class="law-content">
                <a routerLink="/data-protection">Data protection</a>
                <span>-</span>
                <a routerLink="/imprint">Imprint</a>
            </div>

        </div>
        <div class="right-content">
            <a href="#home">Home</a>
            <a href="#about-me">About me</a>
            <a href="#skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
        </div>
</footer>