footer {
    height: 422px;
    background-color: #181823;
    color: white;
}

.footer-container {
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 72px;
}

.logo {
    height: 60px;
    cursor: pointer;
}