<footer>
    <div class="footer-container">
        <div class="left-content">
            <div class="img-container">
                <a href="#home"><img src="assets/img/logo_ab_white.png" class="logo"></a>
                <div class="profiles">
                    <a href="https://www.xing.com/profile/Alexander_Bachmann24" target="_blank"><img
                            src="assets/img/xing.png" class="xing-logo"></a>
                    <a href="https://github.com/applex90" target="_blank"><img src="assets/skill_icons/git.png"
                            class="git-logo"></a>
                </div>
            </div>
        </div>
        <div class="right-content">
            <a routerLink="#home" (click)="navigation.forceNavigate('home')">Home</a>
            <a routerLink="#about-me" (click)="navigation.forceNavigate('about-me')">About me</a>
            <a routerLink="#skills" (click)="navigation.forceNavigate('skills')">Skills</a>
            <a routerLink="#portfolio" (click)="navigation.forceNavigate('portfolio')">Portfolio</a>
            <a routerLink="#contact" (click)="navigation.forceNavigate('contact')">Contact</a>
        </div>
    </div>
    <div class="law-content">
        <a routerLink="/data-protection" (click)="navigation.forceNavigate('data-protection')">Data protection</a>
        <span>-</span>
        <a routerLink="/imprint" (click)="navigation.forceNavigate('imprint')">Imprint</a>
    </div>
</footer>