<div class="contact" data-aos="fade-up">
    <div class="contact-headline">
        <h2>Let's talk business</h2>
        <p>Now that you know a lot about me, let me know if you are interested to work with me.</p>
        <p>Use the following form or get in touch by emailing <a href="mailto:alex20bachmann@gmx.de">alex20bachmann@gmx.de</a></p>
    </div>
    <div class="contact-form">
        <form ngNativeValidate (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="contact-data">
                <label for="fname">
                    <h5>Name</h5>
                </label>
                <input
                id="fname"
                name="name"
                #name="ngModel"
                [(ngModel)]="contact.name"
                minlength="4"
                required>
            
                <label for="email">
                    <h5>Email</h5>
                </label>
                <input
                type="email"
                id="email"
                name="email"
                #email="ngModel"
                [(ngModel)]="contact.email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                required>

                <label for="message">
                    <h5>Message</h5>
                </label>
                <textarea
                id="message"
                name="message"
                #message="ngModel"
                [(ngModel)]="contact.message"
                rows="10"
                placeholder="What would you like to tell me?"
                required></textarea>

                <button
                type="submit"
                class="button-contact"
                ><b>LET'S GETSTARTED</b></button>

                <div *ngIf="mailSent" class="mail-sent">Thanks, your email was sent successfully.</div>
            </div>

        </form>
    </div>
</div>