header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-base);
    padding-left: 72px;
    padding-right: 72px;

    @media (max-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

a {
    z-index: 3;
}

.logo {
    height: 60px;

    @media (max-width: 768px) {
        height: 45px;
    }
}

.nav-links {
    z-index: 3;
    height: 100%;
    user-select: none;

    button {
        height: stretch;
        border: 0;
        padding: 12px;
        background-color: unset;
        cursor: pointer;

        a {
            color: var(--color-link-inactive);
            text-decoration: none;
            transition: background-color 125ms ease-in-out;
        }

        &:hover {
            background-color: var(--color-primary);
            color: white;

            a {
                color: white;
            }
        }
    }
}

