<mat-sidenav-container autosize>
    <mat-sidenav mode="over" position="end" role="navigation" #sidenav closed [autoFocus]="false">
        <div class="close-btn">
            <mat-icon class="close-sidebar" (click)="sidenav.toggle()">close</mat-icon>
        </div>
        <div class="nav-links">
            <button routerLink="/#home" (click)="navigation.forceNavigate('home')"><a>Home</a></button>
            <button routerLink="/#about-me" (click)="navigation.forceNavigate('about-me')"><a>About me</a></button>
            <button routerLink="/#skills" (click)="navigation.forceNavigate('skills')"><a>Skills</a></button>
            <button routerLink="/#portfolio" (click)="navigation.forceNavigate('portfolio')"><a>Portfolio</a></button>
            <button routerLink="/#contact" (click)="navigation.forceNavigate('contact')"><a>Contact</a></button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <app-menu></app-menu>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>