<section id="portfolio" data-aos="fade-up">
    <div class="project-collection">
        <div class="project-topic-box">
            <div class="portfolio-main-topic">
                <h4>Portfolio</h4>
            </div>
            <div class="portfolio-main-headline">
                <h2>Work that I've done with different technologies</h2>
            </div>
        </div>
        <div class="project-box">
            <div class="project-details">
                <img src="assets/img/el_pollo_loco.jpg" alt="el_pollo_loco">
                <div class="projects-description">
                    <h3>Canvas Game</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam veritatis maiores tempore eaque
                        consectetur voluptates error aperiam commodi laborum sit, magni velit reiciendis quos sequi ea,
                        labore sed, ab possimus.</p>
                </div>
            </div>
        </div>
        <div class="project-box">
            <div class="project-details">
                <img src="assets/img/el_pollo_loco.jpg" alt="el_pollo_loco">
                <div class="projects-description">
                    <h3>P2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam veritatis maiores tempore eaque
                        consectetur voluptates error aperiam commodi laborum sit, magni velit reiciendis quos sequi ea,
                        labore sed, ab possimus.</p>
                </div>
            </div>
        </div>
        <div class="project-box">
            <div class="project-details">
                <img src="assets/img/el_pollo_loco.jpg" alt="el_pollo_loco">
                <div class="projects-description">
                    <h3>P3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam veritatis maiores tempore eaque
                        consectetur voluptates error aperiam commodi laborum sit, magni velit reiciendis quos sequi ea,
                        labore sed, ab possimus.</p>
                </div>
            </div>
        </div>
    </div>
</section>