<section class="portfolio">
    <div class="portfolio-main-topic">
        <h4>Portfolio</h4>
    </div>
    <div class="project-collection" data-aos="fade-right">
        <div class="project-topic-box">
            <div class="portfolio-main-headline">
                <h2>Work that I've done with different technologies</h2>
            </div>
        </div>
        <div *ngFor="let project of projects" class="project-box" data-aos="fade-up">
            <a href="{{ project.url }}" target="_blank">
                <div class="project-details">

                    <img src="{{ project.imgsrc }}" alt="{{ project.alt }}">
                    <div class="projects-description">
                        <h3>{{ project.title }}</h3>
                        <p>{{ project.description }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>