<section class="portfolio">
    <div class="portfolio-main-topic">
        <h4>Portfolio</h4>
    </div>
    <div class="project-collection" data-aos="fade-right">
        <div class="project-topic-box">
            <div class="portfolio-main-headline">
                <h2>Work that I've done with different technologies</h2>
            </div>
        </div>
        <div class="project-box" data-aos="fade-up">
            <div class="project-details">
                <img src="assets/img/el_pollo_loco.jpg" alt="el_pollo_loco">
                <div class="projects-description">
                    <h3>Canvas Game</h3>
                    <p>El Pollo Loco is an object-oriented jump-and-run-game based on JavaScript.</p>
                </div>
            </div>
        </div>
        <div class="project-box" data-aos="fade-up">
            <div class="project-details">
                <img src="assets/img/quizapp.jpg" alt="quizapp">
                <div class="projects-description">
                    <h3>Quiz-App</h3>
                    <p>A simple quiz app that tests your general knowledge of HTML, CSS and JavaScript.</p>
                </div>
            </div>
        </div>
    </div>
</section>