.imprint {
    color: white;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 100px;
    padding-bottom: 72px;

    p {
        word-wrap: break-word;
    }

    a {
        color: white;
        text-decoration: underline;
        text-underline-offset: 4px;

        &:hover {
            text-decoration-color: var(--color-primary);
        }
    }
}