<div class="imprint">
    <h2>Impressum</h2>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Alexander Bachmann <br>
        Kriemhildstraße 7<br>
        04279 Leipzig <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br>
        Alexander Bachmann<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        E-Mail: <a href="mailto:alex20bachmann@gmx.de">alex20bachmann@gmx.de</a><br></p>
    <p><strong>Haftungsausschluss: </strong><br><br><strong>Haftung für Links</strong><br><br>
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
        Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten
        wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
        Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist
        jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
        Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p><br>
    Impressum vom <a href="https://www.impressum-generator.de" target="_blank">Impressum Generator</a> der <a
        href="https://www.kanzlei-hasselbach.de/" target="_blank">Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und
        Familienrecht</a>
</div>