.home {
    display: flex;
    height: 100vh;
}

.img-ab {
    width: auto;
    height: auto;
    object-fit: contain;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: -36px;
    z-index: 2;
}

.home-discription {
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #181823;
    color: white;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 100px;
    padding-bottom: 100px;

    .typedanimation {
        color: var(--color-primary);
        font-size: 55px;
        font-weight: bold;
    }

}