@import 'assets/fonts/fonts.scss';

:root {
    --color-base: #000000;
    --color-primary: #5221E6;
    --color-hover: #1e0079;
    --color-link-inactive: #8491a0;
    --color-grey: #424242;
}

* {
    font-family: 'Sen';
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
}

h1 {
    font-size: 76px;
    font-weight: bold;
}

h2 {
    font-size: 55px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

.typed-cursor {
    font-size: 55px;
}