@import 'assets/fonts/fonts.scss';

:root {
    --color-base: #000000;
    --color-primary: #5221E6;
    --color-hover: #1e0079;
    --color-link-inactive: #8491a0;
    --color-grey: #424242;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: #bcb8b8;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary); 
}

* {
    font-family: 'Sen';
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: black;
}

a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover{
        color: var(--color-primary);
    }
}

h1 {
    font-size: 76px;
    font-weight: bold;
}

h2 {
    font-size: 55px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

h5 {
    font-size: 16px;
    font-weight: normal;
}

.typed-cursor {
    font-size: 55px;
}